<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="slide">
      <div ng-repeat="image in images track by image.id" ng-show="isCurrentSlideIndex($index)">
        <img ng-src="{{image.src}}" />
      </div>
    </div>
    <div class="arrows">
      <a href="#" ng-click="prev()">
        <img src="img/left-arrow.png"/>
      </a>
      <a href="#" ng-click="next()">
        <img src="img/right-arrow.png"/>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 navigation text-center">
    <span ng-repeat="image in images track by image.id" ng-class="{active: isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index)">●</span>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <button ng-click="shuffle()">shuffle</button>
  </div>
</div>
