<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <button ng-click="shuffle()">shuffle</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <img ng-repeat="image in images track by image.id" ng-show="isCurrentSlideIndex($index)" ng-src="{{image.src}}" class="slide">
  </div>
  </div>
</div>
<div class="row" style="position:relative; top: 330px;">
  <div class="col-md-6 col-md-offset-3 navigation text-center">
    <span ng-repeat="image in images track by image.id" ng-class="{active: isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index)">●</span>
  </div>
</div>

